<div class="card-top container-fluid" style="margin-top: 20px;">
    <div class="container d-flex">
        <div class="item">

        </div>
        <div class="item">
            
                <a>
                    <img src="/assets/image/all product.jpg" alt="">&nbsp;
                    <h6>All product</h6>&nbsp;
                </a>
            
        </div>
        <div class="item">
            <a>
                <img src="/assets/image/fashion.jpg" alt="">&nbsp;
                <h6>Fashion</h6>&nbsp;
            </a>
        </div>
        <div class="item">
            <a>
                <img src="/assets/image/image1.jpg" alt="">&nbsp;
                <h6>jwellery</h6>&nbsp;
            </a>
        </div>

        <div class="item">
            <a>
                <img src="/assets/image/electronic.jpeg" alt="">
                <h6>Electronic</h6>
            </a>
        </div>
    </div>
</div>