

<!-- <header>
<div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
        <i  style="font-size: 40px"class="fa fa-shopping-cart" aria-hidden="true">&nbsp;
             <strong>Shopclues</strong> 
            
        </i>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search for product brand and many more">
        </div>
            
        <span style="font-size: 30px" class="fa fa-search search-icon" aria-hidden="true">

    </span>
   
      <div class="navbar">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#"><i class="fa fa-fw fa-search"></i> About Us</a>
        
        <a routerLink="/login"><i class="fa fa-fw fa-user"></i> Login</a>
      </div>
      <button class="btn btn-primary">
        <i style="font-size: 30px" class="fa fa-cart-plus" aria-hidden="true"></i>
        <div style="font-size: 10px;" class="badge bg-danger">5</div>
      </button>
    </div>
</div>
</header>
 -->