<div class="container-fluid" style="margin-top: 30px; " >
<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/image/banner1.jpg "  style="height: 300px ; width: 100%;" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>slid 1</h3>
        <p>1 slid</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper ">
        <img src="../../assets/image/banner2.webp"  style="height: 300px ; width: 100%;" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>slide 2</h3>
        <p> slide 2</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper ">
        <img src="../../assets/image/banner3.jpg " style="height: 300px ; width: 100%;"  alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  
  
  </div>



  